<!DOCTYPE html>

<html>
    <head>
        <title>Error</title>
        <link rel="icon" href="/img/weather-icon.png">
        <!-- 1. css file using relative path
            2. css using absolute path
        <link rel="stylesheet", href="./css/styles.css"> -->
        <link rel="stylesheet", href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{errorMessage}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>