<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather-icon.png">
        <!-- 1. css file using relative path
            2. css using absolute path
        <link rel="stylesheet", href="./css/styles.css"> -->
        <link rel="stylesheet", href="/css/styles.css">
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img  class="portrait" src={{img}}>
        </div>
        {{>footer}}
    </body>
</html>